<nb-card class="main-card">
    <nb-card-header class="text-heading card-title">{{ formTitle | translate }}</nb-card-header>
    <nb-card-body class="card-body">

        <nb-stepper #stepper [linear]="false" disableStepNavigation>

            <nb-step [stepControl]="firstForm" [label]="'PAGES.ProductsCardsStepper.productCardDetails' | translate">
                <form class="myform" [formGroup]="firstForm" class="step-container">
                    <div class="form-item productCardInfo">
                        <div>
                            <label class="mylabel" for="productName">{{ 'PAGES.ProductsCardsStepper.enterProductName' | translate }}  </label>
                            <input nbInput id="productName" autocomplete="off" type="text" [placeholder]="'PAGES.ProductsCardsStepper.productName' | translate" class="form-control"
                                formControlName="productName"
                                [status]="(productName?.invalid && (productName.dirty || productName.touched)) ? 'danger' : ''">
                        </div>
                    </div>
                    <div class="form-item productCardInfo">
                        <div class="firstSection">
                            <label class="mylabel" for="code"> {{ 'PAGES.ProductsCardsStepper.enterProductCode' | translate }} </label>
                            <input nbInput id="code" autocomplete="off" type="text" [placeholder]="'PAGES.ProductsCardsStepper.code' | translate" class="form-control"
                                formControlName="code"
                                [status]="(code?.invalid && (code.dirty || code.touched)) ? 'danger' : ''">
                        </div>

                        <div class="secondSection">
                            <label class="mylabel" for="type">{{ 'PAGES.ProductsCardsStepper.selectType' | translate }} </label>
                            <nb-select class="my-select" id="type" [placeholder]="'PAGES.ProductsCardsStepper.type' | translate" formControlName="type"
                                [status]="(type?.invalid && (type.dirty || type.touched)) ? 'danger' : ''"
                                [(selected)]="selectedType">
                                <nb-option *ngFor="let type of productCardTypes" [value]="type">
                                    {{ ('PAGES.ProductsCards.' + type) | translate }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-item">
                    <label class="mylabel" for="productionDate">{{ 'PAGES.ProductsCardsStepper.selectProductionDate' | translate }} </label>
                        <input nbInput id="productionDate" [placeholder]="'PAGES.ProductsCardsStepper.productionDate' | translate" class="form-control"
                            formControlName="productionDate"
                            [status]="(productionDate?.invalid && (productionDate.dirty || productionDate.touched)) ? 'danger' : ''"
                            [nbDatepicker]="productionDatepicker" readonly>

                        <nb-datepicker #productionDatepicker></nb-datepicker>
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="dimensions">{{ 'PAGES.ProductsCardsStepper.enterProductDimensions' | translate }}  </label>
                        <div id="dimensions">
                            <input id="width" nbInput type="number" [placeholder]="'PAGES.ProductsCardsStepper.width' | translate" class="form-control"
                                formControlName="width"
                                [status]="(width?.invalid && (width.dirty || width.touched)) ? 'danger' : ''">

                            <input id="height" nbInput type="number" [placeholder]="'PAGES.ProductsCardsStepper.height' | translate" class="form-control"
                                formControlName="height"
                                [status]="(height?.invalid && (height.dirty || height.touched)) ? 'danger' : ''">
                        </div>
                    </div>
                </form>
            </nb-step>

            <nb-step [stepControl]="secondForm" [label]="'PAGES.ProductsCardsStepper.productPaintMix' | translate">
                <form [formGroup]="secondForm" class="step-container">
                    <div class="form-item">
                    <label class="mylabel" for="paintMix">{{ 'PAGES.ProductsCardsStepper.selectPaintMix' | translate }} </label>
                        
                        <ngx-select-dropdown [config]="paintConfig"
                            [options]="paintOptions"
                            [(ngModel)]="selectedPaintMix"
                            [ngModelOptions]="{standalone: true}"
                            (change)="onChangeSelectedPaint()"
                            [multiple]="false">
                        </ngx-select-dropdown>
                    </div>

                    <div class="form-item">
                    <label class="mylabel" for="pWeight">{{ 'PAGES.ProductsCardsStepper.enterWeight' | translate }} </label>
                        <input nbInput id="pWeight" type="number" [placeholder]="'PAGES.ProductsCardsStepper.weight' | translate" class="form-control"
                            formControlName="pWeight"
                            [status]="(pWeight?.invalid && (pWeight.dirty || pWeight.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="pDensity">{{ 'PAGES.ProductsCardsStepper.enterDensity' | translate }} </label>
                        <input nbInput id="pDensity" type="number" [placeholder]="'PAGES.ProductsCardsStepper.density' | translate" class="form-control"
                            formControlName="pDensity"
                            [status]="(pDensity?.invalid && (pDensity.dirty || pDensity.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="pViscosity">{{ 'PAGES.ProductsCardsStepper.enterViscosity' | translate }} </label>
                        <input nbInput id="pViscosity" type="number" [placeholder]="'PAGES.ProductsCardsStepper.viscosity' | translate" class="form-control"
                            formControlName="pViscosity"
                            [status]="(pViscosity?.invalid && (pViscosity.dirty || pViscosity.touched)) ? 'danger' : ''">
                    </div>
                </form>
            </nb-step>

            <nb-step [stepControl]="thirdForm" [label]="'PAGES.ProductsCardsStepper.productEngobMix' | translate">
                <form [formGroup]="thirdForm" class="step-container">

                    <div class="form-item">
                        <label class="mylabel" for="engobMix">{{ 'PAGES.ProductsCardsStepper.selectEngobMix' | translate }} </label>
                        <ngx-select-dropdown [config]="engobConfig"
                            [options]="engobOptions"
                            [(ngModel)]="selectedEngobMix"
                            [ngModelOptions]="{standalone: true}"
                            (change)="onChangeSelectedEngob()"
                            [multiple]="false">
                        </ngx-select-dropdown>
                    </div>
                    <div class="form-item">
                        <label class="mylabel" for="eWeight">{{ 'PAGES.ProductsCardsStepper.enterWeight' | translate }} </label>
                        <input nbInput id="eWeight" type="number" [placeholder]="'PAGES.ProductsCardsStepper.weight' | translate" class="form-control"
                            formControlName="eWeight"
                            [status]="(eWeight?.invalid && (eWeight.dirty || eWeight.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="eDensity">{{ 'PAGES.ProductsCardsStepper.enterDensity' | translate }} </label>
                        <input nbInput id="eDensity" type="number" [placeholder]="'PAGES.ProductsCardsStepper.density' | translate" class="form-control"
                            formControlName="eDensity"
                            [status]="(eDensity?.invalid && (eDensity.dirty || eDensity.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="eViscosity">{{ 'PAGES.ProductsCardsStepper.enterViscosity' | translate }} </label>
                        <input nbInput id="eViscosity" type="number" [placeholder]="'PAGES.ProductsCardsStepper.viscosity' | translate" class="form-control"
                            formControlName="eViscosity"
                            [status]="(eViscosity?.invalid && (eViscosity.dirty || eViscosity.touched)) ? 'danger' : ''">
                    </div>
                </form>
            </nb-step>

            <nb-step [stepControl]="fourthForm" [label]="'PAGES.ProductsCardsStepper.otherInfo' | translate">
                <form [formGroup]="fourthForm" class="step-container">

                    <div class="form-item">
                        <label class="mylabel" for="paintMix">{{ 'PAGES.ProductsCardsStepper.selectBodyMix' | translate }} </label>
                        <ngx-select-dropdown [config]="bodyConfig"
                            [options]="bodyOptions"
                            [(ngModel)]="selectedBodyMix"
                            [ngModelOptions]="{standalone: true}"
                            (change)="onChangeSelectedBody()"
                            [multiple]="false"
                            >
                        </ngx-select-dropdown>
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="thickness">{{ 'PAGES.ProductsCardsStepper.enterThickness' | translate }} </label>
                        <input nbInput id="thickness" type="number" [placeholder]="'PAGES.ProductsCardsStepper.thickness' | translate" class="form-control"
                            formControlName="thickness"
                            [status]="(thickness?.invalid && (thickness.dirty || thickness.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item productCardInfo">

                        <div class="firstSection">
                            <label class="mylabel" for="pistonPressure">{{ 'PAGES.ProductsCardsStepper.enterPistonPressure' | translate }} </label>
                            <input nbInput id="pistonPressure" type="number" [placeholder]="'PAGES.ProductsCardsStepper.pistonPressure' | translate"
                                class="form-control" formControlName="pistonPressure"
                                [status]="(pistonPressure?.invalid && (pistonPressure.dirty || pistonPressure.touched)) ? 'danger' : ''">
                        </div>

                        <div class="secondSection">
                            <label class="mylabel" for="breakingForce">{{ 'PAGES.ProductsCardsStepper.enterBreakingForce' | translate }} </label>
                            <input nbInput id="breakingForce" type="number" [placeholder]="'PAGES.ProductsCardsStepper.breakingForce' | translate"
                                class="form-control" formControlName="breakingForce"
                                [status]="(breakingForce?.invalid && (breakingForce.dirty || breakingForce.touched)) ? 'danger' : ''">
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="radiation">{{ 'PAGES.ProductsCardsStepper.enterRadiation' | translate }} </label>
                        <input nbInput id="radiation" type="number" [placeholder]="'PAGES.ProductsCardsStepper.radiation' | translate" class="form-control"
                            formControlName="radiation"
                            [status]="(radiation?.invalid && (radiation.dirty || radiation.touched)) ? 'danger' : ''">
                    </div>
                </form>
            </nb-step>

            <nb-step [stepControl]="fifthForm" [label]="'PAGES.ProductsCardsStepper.ovens' | translate">
                <form [formGroup]="fifthForm" class="step-container">
                    <div class="form-item">
                        <label class="mylabel" for="pOvenPeriod">{{ 'PAGES.ProductsCardsStepper.enterPaintOvenPeriod' | translate }} </label>
                        <input nbInput id="pOvenPeriod" type="number" [placeholder]="'PAGES.ProductsCardsStepper.paintOvenPeriod' | translate"
                            class="form-control" formControlName="pOvenPeriod"
                            [status]="(pOvenPeriod?.invalid && (pOvenPeriod.dirty || pOvenPeriod.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="pOvenHeat">{{ 'PAGES.ProductsCardsStepper.enterPaintOvenTemperatures' | translate }} </label>
                        <div id="pOvenHeat">
                            <input id="pOvenHeatLow" nbInput type="number" [placeholder]="'PAGES.ProductsCardsStepper.lowHeat' | translate" class="form-control"
                                formControlName="pOvenHeatLow"
                                [status]="(pOvenHeatLow?.invalid && (pOvenHeatLow.dirty || pOvenHeatLow.touched)) ? 'danger' : ''">

                            <input id="pOvenHeatHigh" nbInput type="number" [placeholder]="'PAGES.ProductsCardsStepper.highHeat' | translate" class="form-control"
                                formControlName="pOvenHeatHigh"
                                [status]="(pOvenHeatHigh?.invalid && (pOvenHeatHigh.dirty || pOvenHeatHigh.touched)) ? 'danger' : ''">
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="bOvenPeriod">{{ 'PAGES.ProductsCardsStepper.enterBascuitOvenPeriod' | translate }} </label>
                        <input nbInput id="bOvenPeriod" type="number" [placeholder]="'PAGES.ProductsCardsStepper.bascuitOvenPeriod' | translate"
                            class="form-control" formControlName="bOvenPeriod"
                            [status]="(bOvenPeriod?.invalid && (bOvenPeriod.dirty || bOvenPeriod.touched)) ? 'danger' : ''">
                    </div>

                    <div class="form-item">
                        <label class="mylabel" for="bOvenHeat">{{ 'PAGES.ProductsCardsStepper.enterBascuitOvenTemperatures' | translate }} </label>
                        <div id="bOvenHeat"> 
                            <input id="bOvenHeatLow" nbInput type="number" [placeholder]="'PAGES.ProductsCardsStepper.lowHeat' | translate" class="form-control"
                                formControlName="bOvenHeatLow"
                                [status]="(bOvenHeatLow?.invalid && (bOvenHeatLow.dirty || bOvenHeatLow.touched)) ? 'danger' : ''">

                            <input id="bOvenHeatHigh" nbInput type="number" [placeholder]="'PAGES.ProductsCardsStepper.highHeat' | translate" class="form-control"
                                formControlName="bOvenHeatHigh"
                                [status]="(bOvenHeatHigh?.invalid && (bOvenHeatHigh.dirty || bOvenHeatHigh.touched)) ? 'danger' : ''">
                        </div>
                    </div>
                </form>
            </nb-step>

            <nb-step [stepControl]="sixthForm" [label]="'PAGES.ProductsCardsStepper.productImage' | translate">
                <form [formGroup]="sixthForm" class="step-container">
                    
                    <div class="wrapper">
                        <div class="box">
                          <div #imagePreview class="js--image-preview"></div>
                          <div class="upload-options">
                            <label>
                              <input type="file" class="image-upload" accept="image/*" (change)="showPreview($event)" />
                            </label>
                          </div>
                        </div>
                    </div>

                </form>
            </nb-step>
        </nb-stepper>


    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="danger" (click)="onClickBack(stepper)">{{ 'PAGES.ProductsCardsStepper.back' | translate }}
            <nb-icon icon="close-outline"></nb-icon>
        </button>
        <button nbButton status="primary" type="submit" (click)="onNext(stepper)" style="float: right;">
            {{ (stepper.selectedIndex === 5 ? 'PAGES.ProductsCardsStepper.save' : 'PAGES.ProductsCardsStepper.next') | translate }}
            <nb-icon *ngIf="stepper.selectedIndex === 5" icon="save"></nb-icon>
            <nb-icon *ngIf="stepper.selectedIndex < 5" icon="arrow-right"></nb-icon>
        </button>
        <button nbButton *ngIf="stepper.selectedIndex !== 0" status="secondary" (click)="onPrevious(stepper)"
            style="float: right;">{{ 'PAGES.ProductsCardsStepper.previous' | translate }}
            <nb-icon icon="arrow-left"></nb-icon>
        </button>

    </nb-card-footer>
</nb-card>