
table {
  width: 100%;
  background-color: transparent;
}

.my-paginator {
  background-color: transparent;
}

.my-paginator ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,0) !important;
}

.my-paginator ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0.25em;
}

.filter-header {
  padding: 0.5% !important;
  padding-left: 24px;
  text-align: center;
}

.our-table td,
.our-table th {
  text-align: center;
  border: 1px solid #DDD;
  font-size: 1rem;
  padding-left: 0.5% !important;
  width: 10%;
}

.our-table ::ng-deep .mat-sort-header-container {
  justify-content: center;
}
// ::ng-deep .nb-theme-default [nbInput].size-medium:not(.input-full-width) {
//   padding: 0.5rem !important;
//   width: 90% !important;
// }

// ::ng-deep .nb-theme-default [nbButton].appearance-filled.size-medium {
//   padding: 0.625rem 3.125rem;
//   font-size: 1.1rem;
// }

#selectColumns {
  margin: 1%;
}

#mylabel {
  display: block;
  height: fit-content;
  font-size: 1.1rem;
  padding: 1.5%;
  font-weight: 600;
  color: #2A3146;
}

.our-btn {
  width: 90%;
  padding: 0.625rem 3.125rem;
  font-size: 1.1rem !important;
}

.form-alert {
  padding: 0.5% 1%;
  height: fit-content;
  margin-top: 1%;
  margin-left: 4%;
}

.actions-btn {
  font-size: 1.3rem !important;
  margin: 0% 4%;
  padding: 1rem 5% !important;
}


// .our-table button {
//   padding: 0.75rem 1rem !important;
// }