<div class="row">
  <label id="mylabel" for="selectColumns"> {{ 'PAGES.ProductsCards.selectColumnsToDisplay' | translate }} </label>
  <nb-select id="selectColumns" multiple style="width: 20rem;" (selectedChange)="onSelectionColumn()" placeholder="Multiple Select" 
  name="selectedColumns" [(ngModel)]="columnsToDisplay">
      <nb-option *ngFor="let column of allColumns"
      [value]="column.name">{{ column.title | translate }}</nb-option>
  </nb-select>

  <nb-alert class="form-alert" *ngIf="showAlert" status="danger">
      {{ maximumColumnValidationMessage }}
  </nb-alert>
</div>

<div class="our-table">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element">
          <button class="actions-btn" (click)="onClickView(element);" nbButton ghost status="success">
              <i class="fa fa-eye"></i>
          </button>
          <button class="actions-btn" (click)="onClickEdit(element);" nbButton ghost status="info">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="actions-btn" (click)="onClickDelete(element);" nbButton ghost status="danger">
              <i class="fa fa-trash"></i>
          </button>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container [matColumnDef]="column.name" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.title | translate }} </th>
      <td mat-cell *matCellDef="let element">
        {{ getValueOfColumn(element[column.name], column.name) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actionsFilter">
      <th class="filter-header" mat-header-cell *matHeaderCellDef>
        <button class="our-btn" nbButton (click)="onClickCreate()" status="primary"><i class="fa fa-plus"></i></button>
      </th>
    </ng-container>

    <ng-container [matColumnDef]="column.filterTitle" *ngFor="let column of displayedColumns">
      <th class="filter-header" mat-header-cell *matHeaderCellDef>
        <app-table-filter 
        [column]="column.name"
        [placeholder]="column.title | translate"
        [type] = "column.type"
        (onKeyup)="filterTable($event);"
        (onChangeselect) = "filterTable($event);"
        (onChangeDate) = "filterTable($event);">
      </app-table-filter>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-header-row *matHeaderRowDef="filtersToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <mat-paginator class="my-paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>