.card-title {
    font-size: 1.5rem;
    text-align: center;
}

.main-card {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2%;
}

.overflow-visible {
    overflow: visible;
}

.overflow-visible ::ng-deep .selected-items li {
    background-color: #3366FF !important;
}

.footer ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #00D68F !important;
}

.footer ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #CDF7E9 !important;
}

.footer ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #00D68F !important;
}