<div class="row ml-5 mr-5">
    <div class="col-md-4 col-sm-12">
        <img src="https://picsum.photos/seed/picsum/300/200" alt="product image" class="my-image img-thumbnail">
    </div>

    <div class="col-md-8 col-sm-12 text-center">
        <div class="d-block m-3">
            <label class="w-50 font-weight-bold text-secondary" for="productName"> {{ 'PAGES.ProductsCardsDetails.productName' | translate }}</label>
            <p class="d-inline text-capitalize text-hint" id="productName">nahsda sad</p>
        </div>

        <div class="d-block m-3">
            <label class="w-50 font-weight-bold text-secondary" for="code">{{ 'PAGES.ProductsCardsDetails.code' | translate }}</label>
            <p class="d-inline text-capitalize text-hint" id="code">Code 13</p>
        </div>

        <div class="d-block m-3">
            <label class="w-50 font-weight-bold text-secondary" for="productionDate">{{ 'PAGES.ProductsCardsDetails.productionDate' | translate }}</label>
            <p class="d-inline text-capitalize text-hint" id="productionDate">2-2-2022</p>
        </div>

        <div class="d-block m-3">
            <label class="w-50 font-weight-bold text-secondary" for="dimensions">{{ 'PAGES.ProductsCardsDetails.dimensions' | translate }}</label>
            <p class="d-inline text-capitalize text-hint" id="dimensions">200 x 200</p>
        </div>
    </div>
</div>