<div class="row ml-5 mr-5">
    <div class="col-md-3 col-sm-12">
        <img [src]="productsCardsService.selectedProduct.imageUrl ? backendUrl + productsCardsService.selectedProduct.imageUrl : 'http://localhost:4200/assets/images/tile1.png'" alt="product image" class="my-image img-thumbnail">
    </div>

    <div class="offset-md-1 col-md-8 col-sm-12 text-center">
        <div class="d-flex m-3">
            <label class="d-flex w-50 font-weight-bold text-secondary" for="productName"> {{ 'PAGES.ProductsCardsDetails.productName' | translate }}</label>
            <p class="d-flex flex-grow-1 text-capitalize text-hint" id="productName">{{ productsCardsService.selectedProduct.productName }}</p>
        </div>

        <div class="d-flex m-3">
            <label class="d-flex w-50 font-weight-bold text-secondary" for="code">{{ 'PAGES.ProductsCardsDetails.code' | translate }}</label>
            <p class="d-flex flex-grow-1 text-capitalize text-hint" id="code">{{ productsCardsService.selectedProduct.code }}</p>
        </div>

        <div class="d-flex m-3">
            <label class="d-flex w-50 font-weight-bold text-secondary" for="productionDate">{{ 'PAGES.ProductsCardsDetails.productionDate' | translate }}</label>
            <p class="d-flex flex-grow-1 text-capitalize text-hint" id="productionDate">{{ productsCardsService.selectedProduct.productionDate }}</p>
        </div>

        <div class="d-flex m-3">
            <label class="d-flex w-50 font-weight-bold text-secondary" for="dimensions">{{ 'PAGES.ProductsCardsDetails.dimensions' | translate }}</label>
            <p class="d-flex flex-grow-1 text-capitalize text-hint" id="dimensions">{{ productsCardsService.selectedProduct.dimensions.width }} x {{ productsCardsService.selectedProduct.dimensions.height }}</p>
        </div>
    </div>
</div>