@import '../../../../assets/css/toast.css';

.paint-table ::ng-deep .ng2-smart-action-add-add
{
    font-weight: 100;
    height: 45px;
    margin: 3%
}

.paint-table ::ng-deep i {
    font-size: 75% !important;
}

.paint-table ::ng-deep input-editor input ,
.paint-table ::ng-deep input-filter input {
    height: 45px;
}

.our-flip-card , 
.our-flip-card nb-card-front,
.our-flip-card nb-card-back ,
.our-flip-card nb-card ,
.our-flip-card ::ng-deep div{
    height: 100%;
}
.our-flip-card ::ng-deep div.row {
    height: fit-content;
}

nb-card.main-card, nb-card.main-card nb-card-body {
    max-height: 100%;
    overflow-y: auto;
}

::ng-deep .cdk-overlay-pane > div {
    margin: auto;
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
}
.card-body {
    padding: 1% 5%;
}

.our-form > input {
    max-width: none !important;
    width: 100%;
    margin: 2%;
}

.our-form > nb-select {
    max-width: none;
    width: 100%;
    margin: 2%;
}
.details , .components{
    padding: 0 2%;
    font-weight: 700;
}

nb-card-footer {
    padding: 1.5% 5%;
}

nb-card-footer > button {
    margin: 1%;
}

.block::placeholder {
    font-size: 1.1rem !important;
    padding: 2%;
}

nb-select ::ng-deep .placeholder,
nb-select ::ng-deep .select-button {
    font-size: 1.1rem !important;
}

nb-select , nb-option, input {
    font-size: 1.1rem !important;
}

::ng-deep .components-table {
    padding: 0 5%;
}
::ng-deep .components-table > table {
    width: 100%;
    // margin: 5% 0;
}

nb-alert {
    padding: 2% !important;
    width: 100%;
}

.form-alert {
    margin-left: 2% !important;
}

.popup {
    text-align: center;
}

.popup p, .popup nb-card-header, .popup button {
    font-size: 1.1rem;
}