@import '../../../../assets/css/toast.css';
// variables
$base-color: rgb(34,184,82);
$base-font: 'Raleway', sans-serif;

.card-title {
    font-size: 1.5rem;
    text-align: center;
}

.products-table ::ng-deep .ng2-smart-action-add-add
{
    font-weight: 100;
    height: 45px;
    margin: 3%
}

.products-table ::ng-deep i {
    font-size: 75% !important;
}

.products-table ::ng-deep input-editor input ,
.products-table ::ng-deep input-filter input {
    height: 45px;
}

.our-flip-card , 
.our-flip-card nb-card-front,
.our-flip-card nb-card-back ,
.our-flip-card nb-card ,
.our-flip-card ::ng-deep > div{
    height: 100%;
}
.our-flip-card {
    width: 100%;
    overflow: hidden;
}
.our-flip-card ::ng-deep div.row {
    height: fit-content;
}

// .main-card ::ng-deep .cdk-overlay-pane {
//     width: 60% !important;
// }

.main-card ::ng-deep .cdk-overlay-pane nb-dialog-container {
    width: 100%;
}

.myform {
    display: block;
    overflow: hidden;
}
.form-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1% auto;
}

.form-item input {
    max-width: none !important;
}

#dimensions, #pOvenHeat, #bOvenHeat, .productCardInfo {
    display: block;
    overflow: hidden;
}

#width, #pOvenHeatLow, #bOvenHeatLow, .firstSection {
    width: 48%;
    float: left;
}

#height, #pOvenHeatHigh, #bOvenHeatHigh, .secondSection {
    width: 48%;
    float: right;
}

.my-select {
    max-width: none !important;
    width: 100%;
}

.upload {
    display: block;
    border: 1px dashed #007BFF;
    border-radius: 6px;
    color: #007BFF;
    cursor: pointer;
}


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    display: block;
    min-width: 400px;
    height: 360px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    margin-top: 2%;
}

.upload-options {
    position: relative;
    height: 75px;
    background-color: $base-color;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
    &:hover {
      background-color: lighten($base-color, 10%);
    }
    & input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    & label {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden;
      &::after {
        content: 'add'; 
        font-family: 'Material Icons';
        position: absolute;
        font-size: 2.5rem;
        color: rgba(230, 230, 230, 1);
        top: calc(88% - 2.5rem);
        left: calc(50% - 1.25rem);
        z-index: 0;
      }
      & span {
        display: inline-block;
        width: 50%;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
        &:hover i.material-icons {
          color: lightgray;        
        }
      }
    }
  }
  
  
  .js--image-preview {
    height: 286px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('http://localhost:4200/assets/images/upload.png');
    // &::after {
    //   content: "photo_size_select_actual"; 
    //   font-family: 'Material Icons';
    //   position: relative;
    //   font-size: 4.5em;
    //   color: rgba(230, 230, 230, 1);
    //   top: calc(64% - 3rem);
    //   left: calc(50% - 2.25rem);
    //   z-index: -1;
    // }
    &.js--no-default::after {
      display: none;
    }
    // &:nth-child(2) {
    //   background-image: url('http://bastianandre.at/giphy.gif');
    // }
  }

  .width-btn {
      width: 85px;
      text-align: center;
  }