<nb-flip-card class="our-flip-card" [showToggleButton]="false" [flipped]="isFlipped">
    <nb-card-front class="row">
        <nb-card class="main-card col-md-12">
            <nb-card-header class="text-heading text-primary card-title">
                {{ 'PAGES.ProductsCards.productsCards' | translate }}
            </nb-card-header>
            <nb-card-body>
                <app-products-cards-table [datasource]="productsCardsService.productCards" (onCreate)="onCreateProductCard($event)" (onView)="onViewProductCard($event);"
                    (onDelete)="onDeleteProductCard(deleteDialog ,$event);"
                    (onEdit)="onEditProductCard(editDialog ,$event);">
                </app-products-cards-table>
                <!-- delete modal -->
                <ng-template #deleteDialog let-data let-ref="dialogRef">
                    <nb-card class="popup">
                        <nb-card-header>{{ 'PAGES.Common.alert' | translate }}</nb-card-header>
                        <nb-card-body>
                            <p>{{ data.message | translate }}</p>
                        </nb-card-body>
                        <nb-card-footer>
                            <button nbButton status="success"
                                (click)="onConfirmDelete(data.id, ref)">{{ 'PAGES.Common.yes' | translate }}</button>
                            <button nbButton (click)="ref.close()">{{ 'PAGES.Common.no' | translate }}</button>
                        </nb-card-footer>
                    </nb-card>
                </ng-template>

                <!-- edit modal -->
                <ng-template #editDialog let-data let-ref="dialogRef">
                    <nb-card class="popup">
                        <nb-card-header class="text-center">{{ 'PAGES.ProductsCards.editProductCard' | translate }}</nb-card-header>
                        <nb-card-body>
                            <nb-tabset fullWidth>
                                <nb-tab class="p-5" [tabTitle]="'PAGES.ProductsCards.mainInfo' | translate" tabIcon="calendar-outline" responsive>
                                    <form class="myform" [formGroup]="firstForm" class="step-container">
                                        <div class="form-item productCardInfo">
                                            <div class="firstSection">
                                                <label class="mylabel" for="productName">Enter Product Name </label>
                                                <input nbInput id="productName" type="text" placeholder="Product Name" class="form-control"
                                                    formControlName="productName"
                                                    [status]="(productName?.invalid && (productName.dirty || productName.touched)) ? 'danger' : ''">
                                            </div>
                    
                                            <div class="secondSection">
                                                <label class="mylabel">Product Picture</label>
                                                <label class="upload p-2" for="productImage">Choose Picture </label>
                                                <input nbInput id="productImage" type="file" placeholder="Product Picture" class="form-control d-none"
                                                    formControlName="productImage">
                                            </div>
                                        </div>
                                        <div class="form-item productCardInfo">
                                            <div class="firstSection">
                                                <label class="mylabel" for="code">Enter Product Code </label>
                                                <input nbInput id="code" type="text" placeholder="Code" class="form-control"
                                                    formControlName="code"
                                                    [status]="(code?.invalid && (code.dirty || code.touched)) ? 'danger' : ''">
                                            </div>
                    
                                            <div class="secondSection">
                                                <label class="mylabel" for="type">Select Type </label>
                                                <nb-select class="my-select" id="type" placeholder="Type" formControlName="type"
                                                    [status]="(type?.invalid && (type.dirty || type.touched)) ? 'danger' : ''"
                                                    [(selected)]="selectedType">
                                                    <nb-option *ngFor="let type of productCardTypes" [value]="type">
                                                        {{ ('PAGES.ProductsCards.' + type) | translate }}
                                                    </nb-option>
                                                </nb-select>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <label class="mylabel" for="productionDate">Select Production Date </label>
                                            <input nbInput id="productionDate" placeholder="Production Date" class="form-control"
                                                formControlName="productionDate"
                                                [status]="(productionDate?.invalid && (productionDate.dirty || productionDate.touched)) ? 'danger' : ''"
                                                [nbDatepicker]="productionDatepicker" readonly>
                    
                                            <nb-datepicker #productionDatepicker></nb-datepicker>
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="dimensions">Enter Product Dimensions </label>
                                            <div id="dimensions">
                                                <input id="width" nbInput type="number" placeholder="Width" class="form-control"
                                                    formControlName="width"
                                                    [status]="(width?.invalid && (width.dirty || width.touched)) ? 'danger' : ''">
                    
                                                <input id="height" nbInput type="number" placeholder="Height" class="form-control"
                                                    formControlName="height"
                                                    [status]="(height?.invalid && (height.dirty || height.touched)) ? 'danger' : ''">
                                            </div>
                                        </div>
                                    </form>
                                </nb-tab>
                                <nb-tab class="p-5" [tabTitle]="'PAGES.ProductsCards.paintMix' | translate" tabIcon="brush-outline" responsive>
                                    <form [formGroup]="secondForm" class="step-container">
                                        <div class="form-item">
                                            <label class="mylabel" for="paintMix">Select Paint Mix </label>
                                            
                                            <ngx-select-dropdown [config]="paintConfig"
                                                [options]="paintOptions"
                                                [(ngModel)]="selectedPaintMix"
                                                [ngModelOptions]="{standalone: true}"
                                                [multiple]="false">
                                            </ngx-select-dropdown>
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="pWeight">Enter Weight </label>
                                            <input nbInput id="pWeight" type="number" placeholder="Weight" class="form-control"
                                                formControlName="pWeight"
                                                [status]="(pWeight?.invalid && (pWeight.dirty || pWeight.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="pDensity">Enter Density </label>
                                            <input nbInput id="pDensity" type="number" placeholder="Density" class="form-control"
                                                formControlName="pDensity"
                                                [status]="(pDensity?.invalid && (pDensity.dirty || pDensity.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="pViscosity">Enter Viscosity </label>
                                            <input nbInput id="pViscosity" type="number" placeholder="Viscosity" class="form-control"
                                                formControlName="pViscosity"
                                                [status]="(pViscosity?.invalid && (pViscosity.dirty || pViscosity.touched)) ? 'danger' : ''">
                                        </div>
                                    </form>
                                </nb-tab>
                                <nb-tab class="p-5" [tabTitle]="'PAGES.ProductsCards.engobMix' | translate" tabIcon="cube-outline" responsive>
                                    <form [formGroup]="thirdForm" class="step-container">

                                        <div class="form-item">
                                            <label class="mylabel" for="engobMix">Select Engob Mix </label>
                                            <ngx-select-dropdown [config]="engobConfig"
                                                [options]="engobOptions"
                                                [(ngModel)]="selectedEngobMix"
                                                [ngModelOptions]="{standalone: true}"
                                                [multiple]="false">
                                            </ngx-select-dropdown>
                                        </div>
                                        <div class="form-item">
                                            <label class="mylabel" for="eWeight">Enter Weight </label>
                                            <input nbInput id="eWeight" type="number" placeholder="Weight" class="form-control"
                                                formControlName="eWeight"
                                                [status]="(eWeight?.invalid && (eWeight.dirty || eWeight.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="eDensity">Enter Density </label>
                                            <input nbInput id="eDensity" type="number" placeholder="Density" class="form-control"
                                                formControlName="eDensity"
                                                [status]="(eDensity?.invalid && (eDensity.dirty || eDensity.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="eViscosity">Enter Viscosity </label>
                                            <input nbInput id="eViscosity" type="number" placeholder="Viscosity" class="form-control"
                                                formControlName="eViscosity"
                                                [status]="(eViscosity?.invalid && (eViscosity.dirty || eViscosity.touched)) ? 'danger' : ''">
                                        </div>
                                    </form>
                                </nb-tab>
                                <nb-tab class="p-5" [tabTitle]="'PAGES.ProductsCards.otherInfo' | translate" tabIcon="archive-outline" responsive>
                                    <form [formGroup]="fourthForm" class="step-container">

                                        <div class="form-item">
                                            <label class="mylabel" for="paintMix">Select Body Mix </label>
                                            <ngx-select-dropdown [config]="bodyConfig"
                                                [options]="bodyOptions"
                                                [(ngModel)]="selectedBodyMix"
                                                [ngModelOptions]="{standalone: true}"
                                                [multiple]="false">
                                            </ngx-select-dropdown>
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="thickness">Enter Thickness </label>
                                            <input nbInput id="thickness" type="number" placeholder="Thickness" class="form-control"
                                                formControlName="thickness"
                                                [status]="(thickness?.invalid && (thickness.dirty || thickness.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item productCardInfo">
                    
                                            <div class="firstSection">
                                                <label class="mylabel" for="pistonPressure">Enter Piston Pressure </label>
                                                <input nbInput id="pistonPressure" type="number" placeholder="Piston Pressure"
                                                    class="form-control" formControlName="pistonPressure"
                                                    [status]="(pistonPressure?.invalid && (pistonPressure.dirty || pistonPressure.touched)) ? 'danger' : ''">
                                            </div>
                    
                                            <div class="secondSection">
                                                <label class="mylabel" for="breakingForce">Enter Breaking Force </label>
                                                <input nbInput id="breakingForce" type="number" placeholder="Breaking Force"
                                                    class="form-control" formControlName="breakingForce"
                                                    [status]="(breakingForce?.invalid && (breakingForce.dirty || breakingForce.touched)) ? 'danger' : ''">
                                            </div>
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="radiation">Enter Radiation </label>
                                            <input nbInput id="radiation" type="number" placeholder="Radiation" class="form-control"
                                                formControlName="radiation"
                                                [status]="(radiation?.invalid && (radiation.dirty || radiation.touched)) ? 'danger' : ''">
                                        </div>
                                    </form>
                                </nb-tab>
                                <nb-tab class="p-5" [tabTitle]="'PAGES.ProductsCards.ovens' | translate" tabIcon="flash-outline" responsive>
                                    <form [formGroup]="fifthForm" class="step-container">
                                        <div class="form-item">
                                            <label class="mylabel" for="pOvenPeriod">Enter Paint Oven Period </label>
                                            <input nbInput id="pOvenPeriod" type="number" placeholder="Paint Oven Period"
                                                class="form-control" formControlName="pOvenPeriod"
                                                [status]="(pOvenPeriod?.invalid && (pOvenPeriod.dirty || pOvenPeriod.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="pOvenHeat">Enter Paint Oven (Low & High) Temperatures </label>
                                            <div id="pOvenHeat">
                                                <input id="pOvenHeatLow" nbInput type="number" placeholder="Low Heat" class="form-control"
                                                    formControlName="pOvenHeatLow"
                                                    [status]="(pOvenHeatLow?.invalid && (pOvenHeatLow.dirty || pOvenHeatLow.touched)) ? 'danger' : ''">
                    
                                                <input id="pOvenHeatHigh" nbInput type="number" placeholder="High Heat" class="form-control"
                                                    formControlName="pOvenHeatHigh"
                                                    [status]="(pOvenHeatHigh?.invalid && (pOvenHeatHigh.dirty || pOvenHeatHigh.touched)) ? 'danger' : ''">
                                            </div>
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="bOvenPeriod">Enter Bascuit Oven Period </label>
                                            <input nbInput id="bOvenPeriod" type="number" placeholder="Bascuit Oven Period"
                                                class="form-control" formControlName="bOvenPeriod"
                                                [status]="(bOvenPeriod?.invalid && (bOvenPeriod.dirty || bOvenPeriod.touched)) ? 'danger' : ''">
                                        </div>
                    
                                        <div class="form-item">
                                            <label class="mylabel" for="bOvenHeat">Enter Bascuit Oven (Low & High) Temperatures </label>
                                            <div id="bOvenHeat">
                                                <input id="bOvenHeatLow" nbInput type="number" placeholder="Low Heat" class="form-control"
                                                    formControlName="bOvenHeatLow"
                                                    [status]="(bOvenHeatLow?.invalid && (bOvenHeatLow.dirty || bOvenHeatLow.touched)) ? 'danger' : ''">
                    
                                                <input id="bOvenHeatHigh" nbInput type="number" placeholder="High Heat" class="form-control"
                                                    formControlName="bOvenHeatHigh"
                                                    [status]="(bOvenHeatHigh?.invalid && (bOvenHeatHigh.dirty || bOvenHeatHigh.touched)) ? 'danger' : ''">
                                            </div>
                                        </div>
                                    </form>
                                </nb-tab>
                            </nb-tabset>
                        </nb-card-body>
                        <nb-card-footer>
                            <button nbButton status="success"
                                (click)="onConfirmEdit(data.id, ref)">{{ 'PAGES.Common.yes' | translate }}</button>
                            <button nbButton (click)="ref.close()">{{ 'PAGES.Common.no' | translate }}</button>
                        </nb-card-footer>
                    </nb-card>
                </ng-template>
            </nb-card-body>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card *ngIf="isAdd;else details" class="col-md-12 p-0">
            <nb-card-body class="p-0">
                <app-product-card-stepper [formTitle]="formTitle" (onBack)="onClickBack($event, true)"></app-product-card-stepper>
            </nb-card-body>
        </nb-card>
        
        <ng-template #details>
            <nb-card class="col-md-12 p-0">
                <nb-card-body class="p-0">
                    <app-product-card-details [formTitle]="formTitle" (onBack)="onClickBack($event, false)"></app-product-card-details>
                </nb-card-body>
            </nb-card>
        </ng-template>
    </nb-card-back>
</nb-flip-card>