@import '../../../../assets/css/toast.css';
.card-title {
    font-size: 1.5rem;
    text-align: center;
}

.products-table ::ng-deep .ng2-smart-action-add-add
{
    font-weight: 100;
    height: 45px;
    margin: 3%
}

.products-table ::ng-deep i {
    font-size: 75% !important;
}

.products-table ::ng-deep input-editor input ,
.products-table ::ng-deep input-filter input {
    height: 45px;
}

.our-flip-card , 
.our-flip-card nb-card-front,
.our-flip-card nb-card-back ,
.our-flip-card nb-card ,
.our-flip-card ::ng-deep > div{
    height: 100%;
}
.our-flip-card {
    width: 100%;
    overflow: hidden;
}
.our-flip-card ::ng-deep div.row {
    height: fit-content;
}

::ng-deep .cdk-overlay-pane {
    width: 50%;
}

::ng-deep .cdk-overlay-pane nb-dialog-container {
    width: 100%;
}

.myform {
    display: block;
    overflow: hidden;
}
.form-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1% auto;
}

.form-item input {
    max-width: none !important;
}

#dimensions, #pOvenHeat, #bOvenHeat, .productCardInfo {
    display: block;
    overflow: hidden;
}

#width, #pOvenHeatLow, #bOvenHeatLow, .firstSection {
    width: 48%;
    float: left;
}

#height, #pOvenHeatHigh, #bOvenHeatHigh, .secondSection {
    width: 48%;
    float: right;
}

.my-select {
    max-width: none !important;
    width: 100%;
}

.upload {
    display: block;
    border: 1px dashed #007BFF;
    border-radius: 6px;
    color: #007BFF;
    cursor: pointer;
}
